html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
    width: 100%;
}

.container {
    width: 100%;
    height: 400px;
}


.modal-header{
    text-align: center;
    font-size: 20px;
}

.nickName {
    font-family: Tondo,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.glyphicon-shopping-cart{
    color:rgb(35, 230, 18);
    font-size:30px;
}

.log-reg {
    padding-top: 40px;
    padding-right: 10%;
    overflow: hidden;
    text-align: right;
}

.form1 {
    padding: 10px 20px;
}

.form2 {
    padding: 10px 20px;
}
.input-group{
    margin-bottom: 10px;
}
.btn1 {
    width:100%;
    height:40px;
    border-radius: 10px;
    font-size: 20px;
}
.btn-log {
    padding-left: 20px;
}

.upload-avatar {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 18px;
}
.upload-avatar span {
    margin-right: 20px;
}

.gender {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 18px;
}
.gender span {
    margin-right: 40px;
}
.gender div {
    margin-right: 40px;
}
.arrow {
    position: absolute;
    top: -6px;
    right: 18%;
    height: 10px;
    width: 10px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(-45deg);
}

.panel {
    display: none;
    top: 130px;
    right: 10%;
    width: 250px;
    height: 100px;
    position: absolute;
    border: 1px solid #ebebeb;
    background-color: rgb(255, 255, 255, 0.97);
    box-shadow: 0 2px 10px 0;
}

.content {
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #999;
    line-height: 16px;
    text-align: center;
    padding-top: 8px;
}

.bottom-sign {
    text-align: center;
    width: 160px;
    height: 30px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #148aff;
    margin: 0 auto;
    margin-top: 15px;
}

a.sign {
    color: #fff;
    font-family: PingFangSC-Semibold;
    text-decoration: none;
}

#search {
    margin: 0 auto;
    width: 35%;
    margin-top: 100px;
}

#h-inp {
    background: #EFEFEF;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #999;
    width: 78%;
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#search-box button {
    background: #212121;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    width: 22%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.mid {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #1e1e1e;
    color: white;
}

.nav li {
    font-size: 20px;
    display: block;
}

.slider {
    padding-top: 10px;
    width: 100%;
    height: 500px;
}

.item {
    height: 480px;
}

.carousel-inner .item img {
    display: block;
    width: 100%;
    height: 480px;
}


.thumbnail a {
    text-decoration: none;
}

.thumbnail img {
    
}

.glyphicon-thumbs-up {
    color: aqua;
}

.foot-up {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 28px;
}

.foot-down {
    width: 90%;
    height: 100px;
    margin-left: 5%;
    padding-left: 45%;
    padding-top: 20px;
    border-top: 2px solid white;
}

.foot-down a span {
    margin-left: 15px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #148aff;
}

.con {
    width:100%;
}

.comment {
    width:100%;
    height:100px;
    display:flex;
    flex-direction: row;
    background-color: aliceblue;
    padding-left: 5px;
    margin-bottom: 10px;
}
.comment .left {
    width:8%;
    height:100%;
}

.left .avatar {
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.comment .right {
    width:92%;
    height:100%;
    padding-left: 10px;
}

.rig-name  {
    width:100%;
    height:30px;
    line-height: 30px;
    color:aqua;
    font-size: 15px;
}

.rig-con {
    width:100%;
    height:40px;
    line-height: 40px;
    font-size:20px;
}

.rig-tim {
    width:100%;
    height:30px;
    line-height: 30px;
}

.liuyan {
    display: none;
    width:100%;
    height: 120px;
    padding-top: 10px;
    
}

.liuyan input {
    width:100%;
    height:60px;
    background-color: wheat;
}
 .liuyan button {
     float: right;
     width:100px;
     height: 40px;
     line-height: 40px;
     font-size: 20px;
 }

 .bot {
     width:100%;
     height:50px;
     line-height: 50px;
     font-size: 20px;
     text-align: center;
     background-color:rgb(72, 216, 72);
     color: black;
     border-radius: 50%;
     cursor: pointer;
 }